<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Сервер MSSQL (IP или имя) -->
    <add key="Locman.Server" value="192.168.50.15" />
    <!-- Пользователь и пароль SQL -->
    <add key="Locman.User" value="ctx" />
    <add key="Locman.Password" value="super" />
    <!-- Таймаут подключения, сек -->
    <add key="Locman.ConnectionTimeout" value="480" />
    <!-- Города: "ИмяБазы=Отображаемое имя" через ; (база MSSQL = каталог Лоцман) -->
    <add key="Locman.Cities"
         value="Murmansk=Мурманск;Apatit=Апатиты;Кандалакша=Кандалакша;Печенга=Печенга;Североморск=Североморск;Мончегорск=Мончегорск" />
  </appSettings>
</configuration>
